@{
    ViewData["Title"] = "View";
}
<style>
    body {
        background: black repeat center top;
        color:white;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 50px auto;
        box-shadow: 2px 2px 10px #000;
        border-radius: 10px;
    }

    th, td {
        text-align: left;
        padding: 20px;
        font-size: 20px;
        color: #fff;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    tr:nth-child(even) {
        background-color: #00bfff;
    }

    th {
        background-color: #ff0080;
        border-radius: 10px 10px 0 0;
    }


</style>


<table>
    <tr>
        <th>Animal</th>
        <th>Reviews</th>
    </tr>
    <tr>
        <td>Dog</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Cat</td>
        <td>45</td>
    </tr>
</table>
<br>
<br>

