<!DOCTYPE html>
<html lang="en">

<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #00bfff;
        color: #00bfff;
    }

        .navbar ul {
            display: flex;
            list-style: none;
        }

        .navbar a {
            color: #00bfff;
            text-decoration: none;
            margin: 0 1rem;
            font-size: 1.2rem;
            font-weight: bold;
        }

            .navbar a:hover {
                color: #00bfff;
            }

    b {
        font-weight: bold;
        font-size: 30px;
        color: #ff0080;
    }

</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <ul>
                <li>
                    <a href="/home"><b>Home</b></a>
                    <a href="/catalog"><b>Catalog</b></a>
                    <a href="/admin"><b>Admin</b></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Ex3_Sass - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
